In [68]:
# Import required modules

import numpy as np
import pandas as pd
import statistics

from collections import Counter
from tqdm import tqdm

In [69]:
# Import GEO reference data

# import table with accession, platform, and series
geoAPS = pd.read_csv('../data/geo_samples.csv')

# import table with datasets IDs
geoSeries = pd.read_csv('../data/geo_series.csv', low_memory = False)
geoSeries.rename(columns={'Accession':'Series'}, inplace = True)

# add datasets column by merging
allData = pd.merge(geoAPS, geoSeries, how = 'outer', on = 'Series')
geoReference = allData[['Series', 'Accession', 'Platform', 'Datasets']].drop_duplicates()

KeyboardInterrupt:

In [ ]:
sra_reference_path = '../data/sra_complete_runs.csv'
chunk_size = 100000
chunk_iterator = pd.read_csv(sra_reference_path, chunksize=chunk_size)
chunk_num = 0
result_df = pd.DataFrame()

In [ ]:
for chunk in chunk_iterator:
    chunk_num += 1
    print(chunk_num)
    result_df = pd.concat([result_df, chunk], ignore_index=True)

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

1
2

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

3

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,8,11,16,17,22,23,27,30,31,32,33,34,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

28
29
30
31
32
33
34
35
36
37

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

38

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

39
40

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

41

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,8,11,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

42
43
44
45
46

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

47

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

48

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

49
50
51

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

52
53
54

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

55
56

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

57

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

58
59

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,8,16,17,22,23,27,29,30,31,32,33,34,35,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

60
61

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

62

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

63
64
65
66
67
68

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

69
70

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

71

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

72
73

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

74

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

75
76

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

77

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

78

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

79
80
81
82
83

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

84
85

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

86

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

87

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

88
89
90
91

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

92

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

93

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

94
95
96

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

97

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

98
99
100

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

101
102
103

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

104

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

105

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

106

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

107

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

108
109

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

110
111
112
113
114
115
116

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

117
118
119
120

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

121

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

122
123
124
125

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

126

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

127

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

128

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

129

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

130

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

131
132

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37,38,39,40,43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

133
134

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

135

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

136

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

137

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

138
139

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

140
141

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

142
143

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

144
145

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

146
147

/tmp/ipykernel_1273528/1696761591.py:1: DtypeWarning: Columns (3,4,5,6,7,16,17,22,23,27,30,31,32,33,35,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in chunk_iterator:

148
149
150
151

In [ ]:
result_df.shape

(15062760, 47)

In [ ]:
sraReference = result_df

In [ ]:
# import data scraped from PubMed

pmcData = pd.read_csv('/home/nicolaedrabcinski/research/lab/new_reuse/data/pre_filter_matrix.csv')
pmcData

              journal_name       pmc_id  accession
0               Fundam Res  PMC11200159  GSE264332
1               Fundam Res  PMC11197552  GSE150672
2               Fundam Res  PMC11197552   GSE13355
3               Fundam Res  PMC11197552     GPL570
4               Oncol Lett  PMC11197552   GSE14905
...                    ...          ...        ...
1537936             Cureus  PMC11260452  ERR195224
1537937          ESMO Open  PMC11260452  GSM495500
1537938             Cureus  PMC11260452  GSM495500
1537939             Cureus  PMC11260452  GSM495500
1537940  Nucleic Acids Res  PMC11260452  GSM495500

[1537941 rows x 3 columns]

In [ ]:
pmcData.columns = ['journal', 'pmc_ID', 'accession']

In [ ]:
# Merge GEO accessions with reference data, convert to Series

# match series first
se = pd.merge(pmcData, geoReference['Series'].drop_duplicates(), how = 'left',
            left_on = 'accession', right_on = 'Series')
pmcData = se.rename(columns = {'Series': 'Series_result'})

# match each other style of GEO ID
for col in ['Accession', 'Platform', 'Datasets']:
    pmcData = pd.merge(pmcData, geoReference[['Series', col]].drop_duplicates(subset = col), how = 'left', 
            left_on = 'accession', right_on = col)
    label = col + '_result'
    pmcData = pmcData.rename(columns = {'Series': label})

# combine all GEO series match columns into one aggregate GEO series column, clean up
pmcData['geoSeries'] = pmcData['Series_result'].fillna(pmcData['Accession_result']).fillna(pmcData['Platform_result']).fillna(pmcData['Datasets_result'])
pmcData = pmcData.drop(labels = ['Accession', 'Platform', 'Datasets',
                           'Series_result', 'Accession_result',
                           'Platform_result', 'Datasets_result'], axis = 1)
pmcData_geoMerged = pmcData
pmcData_geoMerged

                   journal       pmc_ID  accession  geoSeries
0               Fundam Res  PMC11200159  GSE264332  GSE264332
1               Fundam Res  PMC11197552  GSE150672  GSE150672
2               Fundam Res  PMC11197552   GSE13355   GSE13355
3               Fundam Res  PMC11197552     GPL570  GSE104749
4               Oncol Lett  PMC11197552   GSE14905   GSE14905
...                    ...          ...        ...        ...
1537936             Cureus  PMC11260452  ERR195224        NaN
1537937          ESMO Open  PMC11260452  GSM495500   GSE19836
1537938             Cureus  PMC11260452  GSM495500   GSE19836
1537939             Cureus  PMC11260452  GSM495500   GSE19836
1537940  Nucleic Acids Res  PMC11260452  GSM495500   GSE19836

[1537941 rows x 4 columns]

In [ ]:
# merge SRA accessions with reference data, convert to Study

# match SRA Study IDs first
st = pd.merge(pmcData_geoMerged, sraReference['SRAStudy'].drop_duplicates(), how = 'left',
            left_on = 'accession', right_on = 'SRAStudy')
pmcData = st.rename(columns = {'SRAStudy': 'Study_result'})

# match every other style of SRA ID
for col in ['Run', 'Experiment', 'BioProject', 'Submission', 'Sample']:
    pmcData = pd.merge(pmcData, sraReference[['SRAStudy', col]].drop_duplicates(subset = [col]), how = 'left',
                      left_on = 'accession', right_on = col)
    label = col + '_result'
    pmcData = pmcData.rename(columns = {'SRAStudy': label})

# combine all SRA Study matches into one aggregate column, clean up
pmcData['sraStudy'] = pmcData['Study_result'].fillna(pmcData['Run_result']).fillna(pmcData['Experiment_result']).fillna(pmcData['BioProject_result']).fillna(pmcData['Submission_result']).fillna(pmcData['Sample_result'])
pmcData = pmcData.drop(labels = ['Run', 'Experiment', 'BioProject', 'Submission', 'Sample',
                                'Study_result', 'Run_result', 'Experiment_result', 'BioProject_result',
                                'Submission_result', 'Sample_result'], axis = 1)

pmcData_sraMerged = pmcData
pmcData_sraMerged.sample(25)

,journal,pmc_ID,accession,geoSeries,sraStudy
75223,Healthcare (Basel),PMC10943877,GSE18520,GSE18520,NaN
66563,Int Dent J (Phila),PMC10721923,GSE231887,GSE231887,NaN
1341933,Malar J,PMC9400315,GSE9944,GSE9944,NaN
1346175,Membranes (Basel),PMC9513410,GSE143411,GSE143411,NaN
169052,BMC Infect Dis,PMC10462780,PRJNA950113,NaN,SRP430040
1298568,Life (Basel),PMC9238166,GSE124766,GSE124766,NaN
379554,Front Aging Neurosci,PMC4404103,GSE65787,GSE65787,NaN
1046648,Front Vet Sci,PMC8316339,ERS801335,NaN,ERP001094
518719,Sci Rep,PMC6863864,SRR1804235,NaN,SRP055037
424820,ScientificWorldJournal,PMC4499119,SRP049215,NaN,SRP049215
996244,PLoS One,PMC8946911,GPL570,GSE104749,NaN
1496791,Quant Imaging Med Surg,PMC10404953,GPL11154,GSE104745,NaN
406685,Front Neurosci,PMC4622223,ERS043901,NaN,ERP000809
1531473,South Asian J Cancer,PMC5697450,GSE22541,GSE22541,NaN
694662,Nurs Open,PMC9724674,GSE207877,GSE207877,NaN
283001,Int J Environ Res Public Health,PMC5063418,SRP090323,NaN,SRP090323
909139,eLife,PMC7520306,GSE15622,GSE15622,NaN
1139125,J Clin Transl Sci,PMC8669064,GSE125068,GSE125068,NaN
1335533,Eur J Dent,PMC9247176,GSE37642,GSE37642,NaN
1303956,Front Pain Res (Lausanne),PMC9381770,GSE36133,GSE36133,NaN
1363612,PLoS One,PMC9968721,GSE102349,GSE102349,NaN
1159250,Front Psychiatry,PMC8421149,GSM345589,GSE13745,NaN
735174,Eur J Psychotraumatol,PMC8602030,GSE174077,GSE174077,NaN
603693,BMC Psychiatry,PMC11117452,GPL570,GSE104749,NaN
1163037,RSC Med Chem,PMC8633487,SRX048833,NaN,SRP006039

In [ ]:
# combine GEO Series hits and SRA study hits into one converted accession column
pmcData['converted_accession'] = pmcData_sraMerged['geoSeries'].fillna(pmcData_sraMerged['sraStudy'])
pmcData = pmcData.drop(labels = ['geoSeries', 'sraStudy'], axis = 1)
pmcData

                   journal       pmc_ID  accession converted_accession
0               Fundam Res  PMC11200159  GSE264332           GSE264332
1               Fundam Res  PMC11197552  GSE150672           GSE150672
2               Fundam Res  PMC11197552   GSE13355            GSE13355
3               Fundam Res  PMC11197552     GPL570           GSE104749
4               Oncol Lett  PMC11197552   GSE14905            GSE14905
...                    ...          ...        ...                 ...
1537936             Cureus  PMC11260452  ERR195224           ERP001824
1537937          ESMO Open  PMC11260452  GSM495500            GSE19836
1537938             Cureus  PMC11260452  GSM495500            GSE19836
1537939             Cureus  PMC11260452  GSM495500            GSE19836
1537940  Nucleic Acids Res  PMC11260452  GSM495500            GSE19836

[1537941 rows x 4 columns]

In [ ]:
# clean out garbage converted_accession entries, and rows that didn't map to a converted_accession
w = []
for a in pmcData['converted_accession']:
    if type(a) == str:
        if a[0:3] != 'GSE' and a[1:3] != 'RP':
                w.append(a)
w.append(np.NaN)
        
pmcData = pmcData[~pmcData.converted_accession.isin(w)]
pmcData

                   journal       pmc_ID  accession converted_accession
0               Fundam Res  PMC11200159  GSE264332           GSE264332
1               Fundam Res  PMC11197552  GSE150672           GSE150672
2               Fundam Res  PMC11197552   GSE13355            GSE13355
3               Fundam Res  PMC11197552     GPL570           GSE104749
4               Oncol Lett  PMC11197552   GSE14905            GSE14905
...                    ...          ...        ...                 ...
1537936             Cureus  PMC11260452  ERR195224           ERP001824
1537937          ESMO Open  PMC11260452  GSM495500            GSE19836
1537938             Cureus  PMC11260452  GSM495500            GSE19836
1537939             Cureus  PMC11260452  GSM495500            GSE19836
1537940  Nucleic Acids Res  PMC11260452  GSM495500            GSE19836

[1445998 rows x 4 columns]

In [ ]:
# perform QC with gold standard from Penn group (Casey + Kurt)
gsPMC = pd.read_table("/home/nicolaedrabcinski/research/lab/reusability/data/processed/pubmed_mappings.tsv")
gsPMC.columns = ["SRA_accession_code", "GEO_accession_code", "pm_ID", "pmc_ID"]
gsPMC

      SRA_accession_code GEO_accession_code       pm_ID      pmc_ID
0              SRP111833          GSE101341  29535194.0  PMC5850328
1              ERP108370                NaN         NaN         NaN
2              SRP062170           GSE71840  27780967.0         NaN
3              ERP114122                NaN         NaN         NaN
4              SRP162020          GSE120109  30692590.0  PMC6349857
...                  ...                ...         ...         ...
26550          GSE140448      E-GEOD-140448  31776254.0  PMC6925996
26551          GSE137235      E-GEOD-137235  32467224.0  PMC7328513
26552          GSE140426      E-GEOD-140426         NaN         NaN
26553          GSE134244      E-GEOD-134244         NaN         NaN
26554          GSE134247      E-GEOD-134247         NaN         NaN

[26555 rows x 4 columns]

In [ ]:
# QC step: de-duplicate datasets present in both SRA and GEO
gsPMC_acc = gsPMC[['SRA_accession_code', 'GEO_accession_code']].dropna()
gsPMC_acc

      SRA_accession_code GEO_accession_code
0              SRP111833          GSE101341
2              SRP062170           GSE71840
4              SRP162020          GSE120109
5              SRP041755           GSE57401
6              SRP153370          GSE117074
...                  ...                ...
26550          GSE140448      E-GEOD-140448
26551          GSE137235      E-GEOD-137235
26552          GSE140426      E-GEOD-140426
26553          GSE134244      E-GEOD-134244
26554          GSE134247      E-GEOD-134247

[17522 rows x 2 columns]

In [ ]:
ovAcc = pd.merge(pmcData, gsPMC_acc, how = "left", left_on = "converted_accession", right_on = "SRA_accession_code")
ovAcc

,journal,pmc_ID,accession,converted_accession,SRA_accession_code,GEO_accession_code
0,Fundam Res,PMC11200159,GSE264332,GSE264332,NaN,NaN
1,Fundam Res,PMC11197552,GSE150672,GSE150672,NaN,NaN
2,Fundam Res,PMC11197552,GSE13355,GSE13355,NaN,NaN
3,Fundam Res,PMC11197552,GPL570,GSE104749,NaN,NaN
4,Oncol Lett,PMC11197552,GSE14905,GSE14905,NaN,NaN
...,...,...,...,...,...,...
1445993,Cureus,PMC11260452,ERR195224,ERP001824,NaN,NaN
1445994,ESMO Open,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445995,Cureus,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445996,Cureus,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445997,Nucleic Acids Res,PMC11260452,GSM495500,GSE19836,NaN,NaN

In [ ]:
# Count the number of SRA datasets also present in GEO
numDupSRA = len(ovAcc["SRA_accession_code"]) - ovAcc["SRA_accession_code"].isna().sum()
print("duplicated SRA datasets: " + str(numDupSRA))

duplicated SRA datasets: 17982

In [ ]:
# convert SRA ID of duplicated datasets to GEO ID
ovAccNA = ovAcc.loc[ovAcc["SRA_accession_code"].isna(), :]
ovAcc = ovAcc.loc[~ovAcc["SRA_accession_code"].isna(), :]
ovAcc['converted_accession'] = ovAcc["GEO_accession_code"]
ovAccNA

/tmp/ipykernel_1273528/3574509571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovAcc['converted_accession'] = ovAcc["GEO_accession_code"]

,journal,pmc_ID,accession,converted_accession,SRA_accession_code,GEO_accession_code
0,Fundam Res,PMC11200159,GSE264332,GSE264332,NaN,NaN
1,Fundam Res,PMC11197552,GSE150672,GSE150672,NaN,NaN
2,Fundam Res,PMC11197552,GSE13355,GSE13355,NaN,NaN
3,Fundam Res,PMC11197552,GPL570,GSE104749,NaN,NaN
4,Oncol Lett,PMC11197552,GSE14905,GSE14905,NaN,NaN
...,...,...,...,...,...,...
1445993,Cureus,PMC11260452,ERR195224,ERP001824,NaN,NaN
1445994,ESMO Open,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445995,Cureus,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445996,Cureus,PMC11260452,GSM495500,GSE19836,NaN,NaN
1445997,Nucleic Acids Res,PMC11260452,GSM495500,GSE19836,NaN,NaN

In [ ]:
pmcData = pd.concat([ovAcc, ovAccNA], axis = 0) 
pmcData = pmcData[['journal', 'pmc_ID', 'accession', 'converted_accession']]
pmcData

                   journal       pmc_ID   accession converted_accession
593         Cell Death Dis  PMC10007764  SRR1782846            GSE57945
594                Sci Rep  PMC10007764  SRR1782847            GSE57945
595               Ren Fail  PMC10007764  SRR1782846            GSE57945
596           Clin Cardiol  PMC10007764  SRR1782847            GSE57945
715        Front Microbiol  PMC10010562  SRR8427519           GSE124904
...                    ...          ...         ...                 ...
1445993             Cureus  PMC11260452   ERR195224           ERP001824
1445994          ESMO Open  PMC11260452   GSM495500            GSE19836
1445995             Cureus  PMC11260452   GSM495500            GSE19836
1445996             Cureus  PMC11260452   GSM495500            GSE19836
1445997  Nucleic Acids Res  PMC11260452   GSM495500            GSE19836

[1445998 rows x 4 columns]

In [ ]:
# QC step: validate our publication-dataset relationships with gold standard table
# merge my PMC ID-accession information with gold standard
# in this table: only those papers in my data AND gold standard
ovPMC = pd.merge(
    gsPMC[
        ['pmc_ID', 'SRA_accession_code', 'GEO_accession_code']
    ],
    pmcData[
        ['pmc_ID', 'accession', 'converted_accession']
    ], 
    on = "pmc_ID", 
    how = "inner")
ovPMC

,pmc_ID,SRA_accession_code,GEO_accession_code,accession,converted_accession
0,PMC5850328,SRP111833,GSE101341,GSE99823,GSE99823
1,PMC5850328,SRP111833,GSE101341,GSE99823,GSE99823
2,PMC5850328,SRP111833,GSE101341,GSE101341,GSE101341
3,PMC5850328,SRP111833,GSE101341,GSE101341,GSE101341
4,PMC6349857,SRP162020,GSE120109,GSE116073,GSE116073
...,...,...,...,...,...
36101,PMC6925996,GSE140448,E-GEOD-140448,GSE140448,E-GEOD-140448
36102,PMC6925996,GSE140448,E-GEOD-140448,GSE140448,E-GEOD-140448
36103,PMC7328513,GSE137235,E-GEOD-137235,GSE137233,GSE137233
36104,PMC7328513,GSE137235,E-GEOD-137235,GSE137234,GSE137234
36105,PMC7328513,GSE137235,E-GEOD-137235,GSE137232,GSE137232

In [ ]:
# check for matches between both accession and converted accession, SRA and GEO
ovPMC['match'] = (ovPMC['converted_accession'] == ovPMC['GEO_accession_code']).astype(int)
ovPMC['match'] += (ovPMC['converted_accession'] == ovPMC['SRA_accession_code']).astype(int)
ovPMC['match'] += (ovPMC['accession'] == ovPMC['GEO_accession_code']).astype(int)
ovPMC['match'] += (ovPMC['accession'] == ovPMC['SRA_accession_code']).astype(int)
ovPMC['match'] = ovPMC['match'] > 0
ovPMC

,pmc_ID,SRA_accession_code,GEO_accession_code,accession,converted_accession,match
0,PMC5850328,SRP111833,GSE101341,GSE99823,GSE99823,False
1,PMC5850328,SRP111833,GSE101341,GSE99823,GSE99823,False
2,PMC5850328,SRP111833,GSE101341,GSE101341,GSE101341,True
3,PMC5850328,SRP111833,GSE101341,GSE101341,GSE101341,True
4,PMC6349857,SRP162020,GSE120109,GSE116073,GSE116073,False
...,...,...,...,...,...,...
36101,PMC6925996,GSE140448,E-GEOD-140448,GSE140448,E-GEOD-140448,True
36102,PMC6925996,GSE140448,E-GEOD-140448,GSE140448,E-GEOD-140448,True
36103,PMC7328513,GSE137235,E-GEOD-137235,GSE137233,GSE137233,False
36104,PMC7328513,GSE137235,E-GEOD-137235,GSE137234,GSE137234,False
36105,PMC7328513,GSE137235,E-GEOD-137235,GSE137232,GSE137232,False

In [ ]:
# group by paper: if a paper had at least one successful match, we count it as a success
ovPMC_byPap = ovPMC[['pmc_ID', 'match']].groupby("pmc_ID", as_index = False)['match'].max()
ovPMC_byPap = pd.DataFrame(ovPMC_byPap)
# ovPMC_byPap

ovPMC_byPap.loc[~ovPMC_byPap['match'], :]

          pmc_ID  match
21    PMC2871053  False
23    PMC2885365  False
30    PMC2917008  False
36    PMC2990499  False
49    PMC3040678  False
...          ...    ...
7013  PMC9151700  False
7026  PMC9393397  False
7033  PMC9600465  False
7045  PMC9793650  False
7054  PMC9948694  False

[1129 rows x 2 columns]

In [ ]:
# count up results and report percentage
totRelsSub = len(ovPMC_byPap['pmc_ID'])
print("Number of papers overlapping with gold standard: " + str(totRelsSub))
totMatching = ovPMC_byPap['match'].sum()
print("Number of such papers validated by gold standard: " + str(totMatching))
pctVal = totMatching / totRelsSub
print("Percent validated: " + str(pctVal))

Number of papers overlapping with gold standard: 7057
Number of such papers validated by gold standard: 5928
Percent validated: 0.8400170043928015

In [ ]:
sraAttributes = sraReference

In [ ]:
# Convert SRA dates to a universal format
pd.set_option('display.max_columns', 50)
sraAttributes['ReleaseDate'] = sraAttributes['ReleaseDate'].str[0:10]

In [ ]:
# Define functions to convert GEO dates to a universal format
def strToMonth(m):
    if(m == 'Jan'):
        return '01'
    elif(m == 'Feb'):
        return '02'
    elif(m == 'Mar'):
        return '03'
    elif(m == 'Apr'):
        return '04'
    elif(m == 'May'):
        return '05'
    elif(m == 'Jun'):
        return '06'
    elif(m == 'Jul'):
        return '07'
    elif(m == 'Aug'):
        return '08'
    elif(m == 'Sep'):
        return '09'
    elif(m == 'Oct'):
        return '10'
    elif(m == 'Nov'):
        return '11'
    elif(m == 'Dec'):
        return '12'
    else:
        return(np.NaN)
    
def convGEODate(d):
    if(type(d) == str):
        mon = strToMonth(d[0:3])
        day = d[4:6]
        yr = d[8:12]
        return yr + '-' + mon + '-' + day
    else:
        return np.NaN

In [ ]:
# import GEO attribute data and add Series column
geoPlatforms = pd.read_csv('../data/geo_platforms.csv')
geoPlatforms.rename(columns={'Accession':'Platform'}, inplace = True)
techByPlatform = geoPlatforms[['Platform', 'Technology']]

# allData contains metadata matched to GEO series, but lacks 'Technology' column
geoAttributes = pd.merge(allData, techByPlatform, how = 'left', on = 'Platform')
# geoAttributes

In [ ]:
# convert GEO dates to universal format
dates = []
for i in geoAttributes['Release Date_x']:
    dates.append(convGEODate(i))
geoAttributes['Release Date_x'] = dates
# geoAttributes

In [ ]:
# Add a column tagging each accession as GEO or SRA

repoList = []

for i in pmcData['converted_accession']:
    if(type(i) == str):
        if('GSE' in i or 'GPL' in i):
            repoList.append('GEO')
        elif('SRP' in i or 'ERP' in i or 'DRP' in i):
            repoList.append('SRA')
        else:
            repoList.append(np.NaN)
    else:
        repoList.append(np.NaN)
        
pmcData['repository'] = repoList
# pmcData

In [ ]:
# add column for paper publish date
# this data was scraped from XML files on the hoffman2 cluster: /u/scratch/n/nikodm/pmcOA/

pmc_dates = pd.read_csv('/home/nicolaedrabcinski/research/lab/reusability/data/processed/pre_filter_dates.csv')
pmc_dates['pmc_ID'] = pmc_dates['File Name'].apply(lambda x: x.split('/')[-1].split('.')[0])
pmc_dates = pmc_dates[['pmc_ID', 'Date']]
pmc_dates.sample(5)

              pmc_ID        Date
4230613   PMC8254333   2021/6/23
86862     PMC7944092   2021/1/21
2867552   PMC9689740  2022/10/31
820267   PMC10547080   2023/8/16
441117   PMC10928451   2024/2/06

In [ ]:
pmcData = pd.merge(pmcData, pmc_dates, how = 'left', on = 'pmc_ID')
pmcData = pmcData.rename(columns = {'date': 'pmc_date'})

pmcData.sample(5)

,journal,pmc_ID,accession,converted_accession,repository,Date
743509,Transl Lung Cancer Res,PMC7797069,GSE119715,GSE119715,GEO,2020/11/07
790114,Materials (Basel),PMC7930052,GSE22428,GSE22428,GEO,2021/2/9
911259,medRxiv,PMC7945591,GSE62564,GSE62564,GEO,2021/1/11
1096068,Biomolecules,PMC8932180,GSE7305,GSE7305,GEO,2022/3/2
335558,Aerobiologia (Bologna),PMC5640920,PRJNA399233,SRP117150,SRA,2017/9/27

In [ ]:
# Get every factor we're interested in from our tables of GEO and SRA metadata...

# take a slice of the GEO and SRA attribute tables with only the info we want
slicedGEOAtt = geoAttributes[['Series', 'Release Date_x', 'Technology', 'Taxonomy_x']]
slicedGEOAtt.columns = ['converted_accession', 'geoRelease', 'geoHardware', 'geoSpecies']
slicedGEOAtt = slicedGEOAtt.drop_duplicates(subset = ['converted_accession'])

slicedSRAAtt = sraAttributes[['SRAStudy', 'ReleaseDate', 'Model', 
                              'LibraryStrategy', 'ScientificName', 
                              'bases', 'avgLength', 'Consent']]
slicedSRAAtt.columns = ['converted_accession', 'sraRelease', 'sraHardware', 
                        'sraLibrary_strategy', 'sraSpecies', 
                        'sraBases', 'sraAvg_length', 'sraAccess']
slicedSRAAtt = slicedSRAAtt.drop_duplicates(subset = ['converted_accession'])

In [ ]:
# special case for GEO: make an educated guess on library strategy based on hardware
# These guesses are based on manually checking GEO series IDs that corresponded to various types of hardware

gc = Counter(geoAttributes['Technology'])
ls_guesses = pd.DataFrame.from_dict(gc, orient='index').reset_index()
ls_guesses.columns = ['hardware', 'use_count']
ls_guesses = ls_guesses.drop(labels = ['use_count'], axis = 1)

ls = []

for i in ls_guesses['hardware']:
    if(i == 'high-throughput sequencing'):
        ls.append('RNA-Seq')
    elif(i == 'SAGE NlaIII' or i == 'spotted DNA/cDNA' or i == 'SAGE Sau3A' 
         or i == 'in situ oligonucleotide' or i == 'spotted oligonucleotide' 
         or i == 'antibody' or i == 'MPSS' or i == 'oligonucleotide beads' 
         or i == 'RT-PCR' or i == 'mixed spotted oligonucleotide/cDNA' 
         or i == 'spotted peptide or protein'):
        ls.append('Expression_Array')
    else:
        ls.append(np.NaN)
        
ls_guesses.loc[:,'geoLibrary_strategy'] = ls
# ls_guesses

In [ ]:
# merge SRA attributes onto pmcData table
mergedSRA = pd.merge(pmcData, slicedSRAAtt, how = 'left', on = 'converted_accession')
mergedSRA = mergedSRA.drop_duplicates()

# merge GEO attributes onto table of pmcData + SRA Attributes
allFactors = pd.merge(mergedSRA, slicedGEOAtt, how = 'left', on = 'converted_accession')
allFactors = pd.merge(allFactors, ls_guesses, how = 'left', left_on = 'geoHardware', right_on = 'hardware')

allFactors = allFactors.dropna(subset = ['converted_accession'])

In [ ]:
# clean up columns with factor for both SRA and GEO, rearrange columns
allFactors['species'] = allFactors['sraSpecies'].fillna(allFactors['geoSpecies'])
allFactors = allFactors.drop(labels = ['sraSpecies', 'geoSpecies'], axis = 1)

allFactors['hardware'] = allFactors['sraHardware'].fillna(allFactors['geoHardware'])
allFactors = allFactors.drop(labels = ['sraHardware', 'geoHardware'], axis = 1)

allFactors['library_strategy'] = allFactors['sraLibrary_strategy'].fillna(allFactors['geoLibrary_strategy'])
allFactors = allFactors.drop(labels = ['sraLibrary_strategy', 'geoLibrary_strategy'], axis = 1)

allFactors['repository_date'] = allFactors['sraRelease'].fillna(allFactors['geoRelease'])
allFactors = allFactors.drop(labels = ['sraRelease', 'geoRelease'], axis = 1)

In [ ]:
allFactors.head(5)

,journal,pmc_ID,accession,converted_accession,repository,Date,sraBases,sraAvg_length,sraAccess,hardware,species,library_strategy,repository_date
0,Cell Death Dis,PMC10007764,SRR1782846,GSE57945,GEO,2023/2/10,NaN,NaN,NaN,high-throughput sequencing,Homo sapiens,RNA-Seq,2015-01-30
1,Sci Rep,PMC10007764,SRR1782847,GSE57945,GEO,2023/2/10,NaN,NaN,NaN,high-throughput sequencing,Homo sapiens,RNA-Seq,2015-01-30
2,Ren Fail,PMC10007764,SRR1782846,GSE57945,GEO,2023/2/10,NaN,NaN,NaN,high-throughput sequencing,Homo sapiens,RNA-Seq,2015-01-30
3,Clin Cardiol,PMC10007764,SRR1782847,GSE57945,GEO,2023/2/10,NaN,NaN,NaN,high-throughput sequencing,Homo sapiens,RNA-Seq,2015-01-30
4,Front Microbiol,PMC10010562,SRR8427519,GSE124904,GEO,2023/2/6,NaN,NaN,NaN,high-throughput sequencing,Mus musculus,RNA-Seq,2019-05-17

In [ ]:
cols = ['journal', 'pmc_ID', 'accession', 'converted_accession', 'repository', 
        'Date', 'repository_date', 'species', 
        'hardware', 'library_strategy', 'sraAvg_length', 'sraBases', 'sraAccess']

allFactors = allFactors[cols]
allFactors

,journal,pmc_ID,accession,converted_accession,repository,Date,repository_date,species,hardware,library_strategy,sraAvg_length,sraBases,sraAccess
0,Cell Death Dis,PMC10007764,SRR1782846,GSE57945,GEO,2023/2/10,2015-01-30,Homo sapiens,high-throughput sequencing,RNA-Seq,NaN,NaN,NaN
1,Sci Rep,PMC10007764,SRR1782847,GSE57945,GEO,2023/2/10,2015-01-30,Homo sapiens,high-throughput sequencing,RNA-Seq,NaN,NaN,NaN
2,Ren Fail,PMC10007764,SRR1782846,GSE57945,GEO,2023/2/10,2015-01-30,Homo sapiens,high-throughput sequencing,RNA-Seq,NaN,NaN,NaN
3,Clin Cardiol,PMC10007764,SRR1782847,GSE57945,GEO,2023/2/10,2015-01-30,Homo sapiens,high-throughput sequencing,RNA-Seq,NaN,NaN,NaN
4,Front Microbiol,PMC10010562,SRR8427519,GSE124904,GEO,2023/2/6,2019-05-17,Mus musculus,high-throughput sequencing,RNA-Seq,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409798,Eur Urol Open Sci,PMC11260452,ERR195223,ERP001824,SRA,NaN,2013-01-18,Homo sapiens,Illumina Genome Analyzer IIx,OTHER,20,2481880,public
1409799,Cureus,PMC11260452,ERR195224,ERP001824,SRA,NaN,2013-01-18,Homo sapiens,Illumina Genome Analyzer IIx,OTHER,20,2481880,public
1409800,ESMO Open,PMC11260452,GSM495500,GSE19836,GEO,NaN,2010-12-06,Mus musculus,in situ oligonucleotide,Expression_Array,NaN,NaN,NaN
1409801,Cureus,PMC11260452,GSM495500,GSE19836,GEO,NaN,2010-12-06,Mus musculus,in situ oligonucleotide,Expression_Array,NaN,NaN,NaN
1409802,Nucleic Acids Res,PMC11260452,GSM495500,GSE19836,GEO,NaN,2010-12-06,Mus musculus,in situ oligonucleotide,Expression_Array,NaN,NaN,NaN

In [ ]:
# save to .csv
allFactors.to_csv('../data/metadata_matrix_raw.csv', index = False)